$body-bg: #e7e7d5;

$primary: #6fadf0;
$secondary: #e6e2c3;
$danger: #dc3545;
$success: #28a745;
$warning: #a3985a;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;
$white: #ffffff;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
) !default;

// .btn-primary {
//   color: $light;
//   background-color: $primary;
//   border-color: darken($color: $primary, $amount: 10);
//   border-width: medium;
// }
